.user{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.userData{
    border: 2px solid black;
    padding: 10px;
}
.avtar img{
    border-radius:50% ;
}
.Input-wrapper input{
    margin-top: 100px;
    width: 100%;         /* Makes the input box take up full width of the container */
    height: 50px;        /* Increases the height of the input box */
    padding: 10px;       /* Adds padding inside the input for a larger clickable area */
    font-size: 16px;     /* Increases font size for better readability */
    box-sizing: border-box;
}
.Input-wrapper button{
    margin-top: 10px;
    margin-bottom: 10px;
   height: 30px;
   width: 100px;
   font-size: 20px;
}

.githubProfileFinder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.name-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pfp{
    height: 300px;
}